body
{
    font-family: 'Montserrat', sans-serif;
}
.container
{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 27px;
}
.header-item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 57%;
}
.header-logo
{
    display: block;
    background-image: url(../img/svg/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a
{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    color: #2B3541;
    transition: 0.3s;
}
.header-soc
{
    display: flex;
    gap: 30px;
}
.inst
{
    display: block;
    background-image: url(../img/svg/IN.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1);
}
.face
{
    display: block;
    background-image: url(../img/svg/FB.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1);
}
.inst:hover
{
    transform: scale(1.2);
    opacity: 1;
}
.face:hover
{
    transform: scale(1.2);
    opacity: 1;
}

/*MAIN*/

.main-box {
    display: flex;
    max-width: 790px;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: -34px;
    z-index: -1;
    right: -63px;
    margin-top: 20px;
 }
 .main-box-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    flex-basis: 70%;
    height: 850px;
    opacity: 0.2;
 }
 .main-box-right {
    background: #ff0;
    flex-basis: 30%;
    height: 850px;
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
 }
 .main-box-img {
    background-image: url(../img/girl.png);
    position: absolute;
    top: 28px;
    right: -105px;
    width: 996px;
    height: 850px;
    background-repeat: no-repeat;
    background-size: contain;
 }
 .main-text h2
 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    padding-top: 212px;
    color: #2B3541;
    padding-bottom: 5px;
    margin: 0;
    letter-spacing: 0.03em;
 }
 .main-text-tren
 {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    font-weight: 400;
    margin-bottom: 10px;
 }
 .main-text-butt
 {
    padding-left: 90px;
 }
 .main-text-obl
 {
    color: #2B3541;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
 }