body
{
    font-family: 'Montserrat', sans-serif;
}
.container
{
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 28px;
    margin-bottom: 16px;
}
.header-item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 57.7%;
}
.header-logo
{
    display: block;
    background-image: url(../img/svg/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    gap: 54px;
}
.header-nav a
{
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    color: #2B3541;
    transition-duration: 0.5s;
    position: relative;
}

.header-nav a::after 
{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 0;
    background-color:  #2B3541;
    left: 0%;
    transition: 0.3s;
    bottom: -10px;
}
.header-nav a:hover::after 
{
    width: 100%;
}
.header-soc
{
    display: flex;
    gap: 30px;
}
.inst
{
    display: block;
    background-image: url(../img/svg/IN.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1);
}
.face
{
    display: block;
    background-image: url(../img/svg/FB.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1);
}
.inst:hover
{
    transform: scale(1.2);
    opacity: 1;
}
.face:hover
{
    transform: scale(1.2);
    opacity: 1;
}

/*MAIN*/

.main-box 
{
    display: flex;
    max-width: 790px;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: -34px;
    z-index: -1;
    right: -63px;
    margin-top: 20px;
}
.main-box-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    flex-basis: 70%;
    height: 850px;
    opacity: 0.2;
}
.main-box-right {
    background: #ff0;
    flex-basis: 30%;
    height: 850px;
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
}
 .main-box-img {
    background-image: url(../img/girl.png);
    position: absolute;
    top: 40px;
    right: -96px;
    width: 986px;
    height: 869px;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-text h2
{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    padding-top: 212px;
    color: #2B3541;
    padding-bottom: 5px;
    margin: 0;
    letter-spacing: 0.03em;
}
.main-text-tren
{
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    font-weight: 400;
    margin-bottom: 21px;
    margin-top: 36px;
}
.main-text-tren span
{
    margin-left: 5px;
    margin-right: 10px;
}
.main-text-butt
{
    padding-left: 93px;
}
.main-text-obl
{
    color: #2B3541;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 58px;
}
.main-btn
{
    background-color: #FBF138;
    border: none;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    padding: 23px 30px;
    text-decoration: none;
    color: #2B3541;
    transition: 0.3s;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    
}
.main-btn:hover
{
    cursor: pointer;
    background-color: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.3);
}
.main-arrow
{
    background-repeat: no-repeat;
    width: 52px;
    height: 55px;
}
.main-arrow-img:hover
{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}
.main-arrow-img
{
    margin-top: 205px;
    transition: 0.3s;
    opacity: 0.8;
    transform: scale(1);
}
.events
{
    margin-bottom: 80px;
}
.events-h1
{
    padding-top: 130px;
    font-weight: 900;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}
.events-slides
{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.events-f1
{
    background-image: url(../img/jpg/1.jpg);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.events-f-gr
{
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
}
.events-f-gr:hover
{
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}
.events-f2
{
    background-image: url(../img/jpg/2.jpg);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.events-f3
{
    background-image: url(../img/jpg/3.jpg);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.events-data
{
    color: #2B3541;
    opacity: 0.6;
    font-size: 18px;
    line-height: 150%;
    font-weight: 900;
    margin: 30px 30px 0px;
}
.events-h2
{
    color: #2B3541;
    font-size: 28px;
    line-height: 125%;
    font-weight: 900;
    margin-left: 30px;
    margin-bottom: 40px;
    width: 259px;
    height: 68px;
}
.events-type
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FBF138;
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    font-weight: 400;
}
.events-hidden-btn
{
    padding: 20px 40px;
    background-color: #FBF138;
    color: #2B3541;
    margin-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    opacity: 0;
    transition: 0.3s;
}
.events-plus
{
    display: none;
    right: 0px;
    bottom: -5px;
    position: absolute;
}
.events-f-gr:hover .events-hidden-btn
{
    opacity: 1;
}
.events-hidden-btn:hover
{
    background-color: #2B3541;
    color: #FBF138;
}
.tren-header
{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.tren-header-h1
{
    font-weight: 900;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    width: 356px;
    height: 100px;
    margin: 0;
}
.tren-header-data
{
    margin: 0;
    font-weight: 900;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    padding-top: 15px;
}
.tren-grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 39px 73px 281px;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 160px;
}
.tren-grid-item 
{
    border: 1px solid rgb(43 52 64 / 50%);
    box-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.tren-grid-item:hover
{
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    border: 1px solid transparent;
}
.tren-action
{
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7), rgba(253, 249, 182, 0.45) 100%);
    border: none;
    border: 1px solid transparent;
}
.tren-action:hover
{
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
}
.tren-grid-name
{
    margin-top: 35px;
    transition: 0.4s linear;
}
.tren-grid-name-2
{
    margin-top: 164px;
}
.tren-grid-name-3
{
    margin-top: 110px;
    margin-left: 7px;
    margin-bottom: 0px;
    margin-bottom:0px;
}
.tren-grid-name-4
{
    margin-top: 180px;
}
.tren-grid-name-5
{
    margin-top: 68px;
}
.tren-grid-name-6
{
    margin-top: 156px;
}
.tren-grid-item:hover .tren-grid-name-1
{
    margin-top: 0px;
}
.tren-grid-item:hover .tren-grid-img-1
{
    margin-bottom: 0px;
}
.tren-grid-item:hover .tren-grid-date-1
{
    margin-bottom: 0px;
}
.tren-grid-item:hover .tren-grid-h3-1
{
    margin:0px;
}
.tren-grid-item:hover .tren-grid-name-2
{
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.tren-grid-item:hover .tren-grid-h3-2
{
    
    padding-bottom: 0px;
}
.tren-grid-item:hover .tren-grid-name-3
{
    padding-bottom: 0px;
    margin-top: -5px;
    
}
.tren-grid-item:hover .tren-grid-h3-3
{
    padding-bottom: 0px;
    margin-bottom:0px;
}
.tren-grid-item:hover .tren-grid-name-4
{
    margin-top: 80px;
}
.tren-grid-item:hover .tren-grid-h3-4
{
    margin:0px;
}
.tren-grid-item:hover .tren-grid-name-5
{
    margin-top: 0px;
}

.tren-grid-item:hover .tren-grid-date-5
{
    margin-bottom: 0px;
}
.tren-grid-item:hover .tren-grid-h3-5
{
    margin-bottom:0px;
}
.tren-grid-item:hover .tren-grid-name-6
{
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.tren-grid-item:hover .tren-grid-h3-6
{
    padding-bottom: 0px;
    margin-bottom:0px;
}
.tren-grid-img 
{
    width: 65px;
    height: 65px;
    margin-left: 33px;
    margin-bottom: 20px;
    transition: 0.4s linear;
}
.tren-grid-img-2
{
    width: 42px;
    height: 85px;
}
.tren-grid-img-3
{
    width: 91px;
    height: 50px;
    margin-left: 23px;
}
.tren-grid-img-4
{
    width: 67px;
    height: 107px;
}
.tren-grid-img-5
{
    height: 61px;
}
.tren-grid-img-6
{
    width: 58px;
    height: 66px;
}
.tren-grid-date
{
    color: #010101;
    opacity: 0.7;
    font-size: 18px;
    line-height: 150%;
    margin-left: 205px;
    margin-top: 20px;
    transition: 0.4s linear;
}
.tren-grid-h3
{
    font-weight: 900;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    padding-left: 30px;
    transition: 0.4s linear;
}
.tren-grid-hidden
{
    overflow: hidden;
    max-height: 0;
    transition: 0.4s linear;
    line-height: 150%;
    margin-top: 15px; 
    margin-left: 10px;
    font-size: 18px;
    color: #2B3541;
    padding-left: 20px;
    width: 300px;
}
.tren-grid-item:hover .tren-grid-hidden 
{
    max-height: 150px;
    margin-top: 0px; 
}
.tren-grid-item:nth-child(1) 
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.tren-grid-item:nth-child(2) 
{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.tren-grid-item:nth-child(3) 
{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.tren-grid-item:nth-child(4) 
{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.tren-grid-item:nth-child(5) 
{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.tren-grid-item:nth-child(6) 
{
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.email
{
    background-color:#F3F3F3;
    width: 100%;
    height: 348px;
    display: flex;
    justify-content: center;
}
.email-header
{
    padding: 52px 0 18px 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: #2B3541;
    position: relative;
    z-index: 1;
    margin-left: 33px;
}
.email-header-circle
{
    position: absolute;
    background: #FBF138;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    top: 33px;
    right: 596px;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
form
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
input 
{
    display: block;
    width: 50%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #fff;
    padding: 21px 150px 21px 19px;
    font-size: 18px;
    color: #2B3541;
    margin-left: 20px;
}
 /* Cтили для input, когда пользователь вводит данные. Часто используют outline:none; для отключения стандартной синей обводке в форме */
input:focus 
{
    outline: none;
}
 /* Стили для ограниченного input */
input:disabled 
{
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
}
 /* Стили для ошибки в input */
input:invalid 
{
    border: 1px solid #AE0303;
}
input p 
{
    color: #AE0303;
    font-size: 13px;
    margin-top: 3px;
}
.email-btn
{
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    margin-bottom: 28px;
    transition: 0.3s;
}
.email-btn:hover
{
    background-color: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.3);

}
.label-text
{
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5);
}
.email-a
{
    transition: 0.2s;
    color: #2B3541;
    opacity: 0.5;
}
.email-a:hover
{
    opacity: 1;
    color: #010101;
}
 /* Стили для placeholder */
 
input::placeholder {
   color: rgba(43, 53, 65, .3);
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 25px;
   cursor:pointer;
   margin-left: 19px;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before{
   border-radius: 100%;
}
.content-flex
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.content-grid
{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 153px;
}
.email
{
    margin-bottom: 160px;
}

.content-h1
{
    font-weight: 900;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin: 0;
    margin-left: 5px;
}
.content-p
{
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin-left: 5px;
    margin-bottom: 55px;
    width: 472px;
}
.content-a
{
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    text-decoration: none;
    padding: 22px 53px;
    transition: 0.3s;
}
.content-a:hover
{
    color:#FBF138;
    background:#2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.3);
}
.content-grid-item-1
{
    flex-basis: 22%;
}
.content-grid-item-2
{
    flex-basis: 27%;
}
.content-grid-item-3
{
    flex-basis: 21%;
}
.content-grid-item-4
{
    flex-basis: 18%;
}
.content-grid-item-h1
{
    font-weight: 900;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    text-align: start;
}
.content-grid-item-p
{
    opacity: 0.6;
    color: #2B3541;
    font-size: 18px;
    line-height: 150%;
    text-align: start;
}
footer
{
    background-color:#F3F3F3;
    width: 100%;
    height: 149px;
}
.footer-top
{
    display: flex;
    justify-content: space-between;
}
.footer-bot
{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-left: 3px;
}
.footer-logo
{
    width: 97px;
    height: 30px;
    margin-top: 47px;
}
.footer-nav
{
    flex-basis: 56%;
    display: flex;
    list-style-type: none;
    gap: 90px;
    margin-top: 54px;
}
.footer-nav a
{
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: #2B3541;
    transition: 0.5s;
    position: relative;
}
.footer-nav a::after 
{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 0;
    background-color: #2B3541;
    left: 0%;
    transition: 0.3s;
    bottom: -10px;
}
.footer-nav a:hover::after 
{
    width: 100%;
}
.footer-email 
{
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    z-index: 1;
    margin-right: 24px;
    margin-top: 51px;
}
.footer-email a 
{
    color: #2B3541;
    text-decoration: none;
}
.footer-email-circle
{
    position: absolute;
    background: #FBF138;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    top: -10px;
    right: 136px;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.footer-soc
{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.footer-soc a
{
    width: 27px;
    height: 27px;
}
.footer-bot p
{
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.3);
}
.footer-bot a
{
    text-decoration-line: underline;
    color: #2B3541;
    opacity: 0.3;
    transition: 0.2s;
}
.footer-bot a:hover 
{
    opacity: 1;
}
.burger 
{
    width: 34px;
    height: 22px;
    background-color: transparent;
    background-image: url(../img/svg/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
#modal {
    max-width: 100%;
    background-color: #F3F3F3;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -400px;
    margin: 0 auto;
    transition: 0.5s;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    height: 331px;
}
.burger-close {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../img/svg/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 11px;
}
.header-item-modal
{
    display: block;
    text-align: start;
}
.header-logo-modal
{
    width: 78px;
    height: 24px;
    margin-bottom: 40px;
}
.header-nav-modal
{
    flex-direction: column;
    gap: 27px;
    margin-bottom: 10px;
    
}
.header-nav-modal a
{
    opacity: 0.8;
    transition-duration: 0.2s;
    
}
.header-nav-modal a:hover
{
    opacity: 1;
}
.header-nav-modal hr
{
    color: #2B3541;
    opacity: 0.4;
}
.header-nav-modal a::after
{
    content: none;
}
.header-soc-modal
{
    justify-content: end;
    gap: 20px;
}


/*MEDIA*/


@media (min-width: 769px)
{
    .header-burger
    {
        display: none;
    }
}
@media (max-width: 1520px)
{
    .main-box-left
    {
        height: 772px;
    }
    .main-box-right
    {
        height: 772px;
    }
    .main-box-img
    {
        top: 45px;
        right: -7px;
        width: 881px;
    }
    .main-arrow-img
    {
        margin-top: 130px;
    }
}
@media (max-width: 1340px)
{
    .main-box
    {
        max-width: 597px;
        right: 14px;
    }
    .main-box-left
    {
        height: 558px;
    }
    .main-box-right
    {
        height: 558px;
    }
    .main-box-img
    {
        top: 56px;
        right: 10px;
        width: 609px;
    }
    .main-text h2 
    {
        font-size: 36px;
        padding-top: 25px;
    }
    .main-text-tren
    {
        font-size: 34px;
        margin-top: 26px;
    }
    .main-text-butt 
    {
        padding-left: 90px;
    }
    .main-text-obl 
    {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .main-btn
    {
        font-size: 14px;
    }
    .main-arrow-img
    {
        margin-top: 172px;
    }
}
@media (max-width: 1140px)
{
    .main-box
    {
        max-width: 500px;
    }
    .main-box-left
    {
        height: 450px;
    }
    .main-box-right
    {
        height: 450px;
    }
    .main-box-img
    {
        top: 45px;
        right: 40px;
        width: 492px;
    }
    .main-arrow-img
    {
        margin-top: 58px;
    }
    .events-slides
    {
        gap: 12px;
    }
    .tren-grid
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 332px 224px 224px;
        grid-auto-flow: row;
    }
    .tren-grid-item
    {
        display: block;
    }
    .tren-grid-item:nth-child(1)
    {
        grid-row: 1;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(2)
    {
        grid-row: 2;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(3)
    {
        grid-row: 3;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(4)
    {
        grid-row: 1;
        grid-column: 2;
    }
    .tren-grid-item:nth-child(5)
    {
        grid-row: 2;
        grid-column: 2;
    }
    .tren-grid-item:nth-child(6)
    {
        grid-row: 3;
        grid-column: 2;
    }
    .tren-grid-date
    {
        text-align: right;
        margin-right: 20px;
        font-size: 16px;
    }
    .tren-grid-img
    {
        margin-bottom: 20px;
        width: 60px;
        height: 60px;
    }
    .tren-grid-img-2
    {
        width: 34px;
        height: 77px;
    }
    .tren-grid-img-3
    {
        width: 80px;
        height: 40px;
    }
    .tren-grid-img-4
    {
        width: 45px;
        height: 85px;
    }
    .tren-grid-img-5
    {
        width: 54px;
        height: 50px;
    }
    .tren-grid-img-6
    {
        width: 48px;
        height: 56px;
    }
    .tren-grid-h3 
    {
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 16px;
    }
    .tren-grid-hidden
    {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        width: 250px;
    }
    .tren-grid-name-1
    {
        margin-top: 130px;
    }
    .tren-grid-item:hover .tren-grid-name-1
    {
        margin-top: 100px;
    }
    .tren-grid-item:hover .tren-grid-img-1
    {
        margin-bottom: 18px;
    }
    .tren-grid-item:hover .tren-grid-date-1
    {
        margin-bottom: 0px;
    }
    .tren-grid-name-2
    {
        margin-top: 0px;
    }
    .tren-grid-item:hover .tren-grid-name-2
    {   
        margin-top: -45px;
    }
    .tren-grid-name-3
    {
        margin-top: 53px;
        margin-left: 0px;
    }
    .tren-grid-item:hover .tren-grid-name-3
    {   
        margin-top: 0px;
    }
    .tren-grid-name-4
    {
        margin-top: 105px;
    }
    .tren-grid-item:hover .tren-grid-name-4
    {   
        margin-top: 50px;
    }
    .tren-grid-name-5
    {
        margin-top: 40px;
    }
    .tren-grid-item:hover .tren-grid-name-5
    {   
        margin-top: 0px;
    }
    .tren-grid-name-6
    {
        margin-top: 30px;
    }
    .tren-grid-item:hover .tren-grid-name-6
    {   
        margin-top: 0px;
    }
    .tren-grid-item:hover .tren-grid-date-6
    {
        margin-bottom: 0px;
    }
    .content-grid
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px;
        grid-auto-flow: row;
    }
    .content-grid-item-1
    {
        width: 220px;
    }
    .content-grid-item-h1
    {
        font-size: 16px;
    }
    .content-grid-item-p
    {
        font-size: 16px;
    }
    .content-grid-item-2
    {
        width: 254px;
    }
    .content-grid-item-3
    {
        width: 220px;
    }
    .content-grid-item-4
    {
        width: 220px;
    }
    .content-h1 
    {
        font-size: 24px;
    }
    .content-p 
    {
        font-size: 16px;
        width: 310px;
    }
    .content-a
    {
        padding: 24px 50px;
    }
    .content-img 
    {
        margin-right: 150px;
    }
    .content-image
    {
        width: 373px;
        height: 227px;
    }
    
}
@media (max-width: 1050px)
{
    .header-item
    {
        flex-basis: 75.7%;
    }
    .header-nav
    {
        gap: 40px
    }
    .header-nav-modal
    {
        gap: 27px
    }
    .header-item-modal
    {
        flex-basis: 57.7%;
    }
    .main-text h2 
    {
        font-size: 30px;
        padding-top: 7px;
    }
    .main-text-tren
    {
        font-size: 26px;
    }
    .main-text-obl 
    {
        font-size: 16px;
    }
    .main-btn
    {
        font-size: 16px;
    }
    .main-arrow-img
    {
        width: 45px;
        height: 45px;
        margin-top: 140px;
    }

    .main-box-left
    {
        height: 480px;
    }
    .main-box-right
    {
        height: 480px;
    }
    .main-box-img
    {
        top: 73px;
        right: 28px;
        width: 492px;
    }
    .content-img 
    {
        margin-right: 75px;
    }
}
@media (max-width: 930px)
{
    .main-text h2 
    {
        font-size: 28px;
        padding-top: 0px;
    }
    .main-box
    {
        max-width: 450px;
    }
    .main-box-img
    {
        top: 92px;
        right: 19px;
        width: 470px;
    }
    .content-img 
    {
        margin-right: 30px;
    }
}
@media (max-width: 890px)
{
    .events-slides
    {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        justify-items: center;
    }
    .events-f3
    {
        grid-column: 1/3;
        width: 100%;
        height: 336px;
        background-image: url(../img/jpg/3\(2\).jpg);
    }
    .events-f1
    {
        width: 100%;
        height: 336px;
        background-image: url(../img/jpg/1\(2\).jpg);
    }
    .events-f2
    {
        width: 100%;
        height: 336px;
        background-image: url(../img/jpg/2\(2\).jpg);
    }
    .events-h2
    {
        font-size: 16px;
    }
    .events-data
    {
        font-size: 12px;
    }
    .events-type
    {
        font-size: 12px;
        left: 0;
        right: inherit;
    }
    .events-hidden-btn
    {
        font-size: 12px;
    }
    .events-plus
    {
        display: block;
    }
    .content-img 
    {
        margin-right: 10px;
    }
}

@media (max-width: 768px)
{
    .header-nav
    {
        display: none;
    }
    .header-nav-modal
    {
        display: flex;
    }
    .header
    {
        position: relative;
    }
    .header-burger
    {
        position: absolute;
        left: 144px;
        top: 55px;
    }
    .main-text h2 
    {
        font-size: 26px;
    }
    .main-text-butt 
    {
        padding-left: 0px;
    }
    .main-arrow-img
    {
        width: 40px;
        height: 40px;
        margin-top: 95px;
    }
    .main-box
    {
        max-width: 315px;
    }
    .main-box-img
    {
        top: 95px;
        right: -2px;
        width: 390px;
    }
    .main-box-left
    {
        height: 418px;
    }
    .main-box-right
    {
        height: 418px;
    }
    .tren-grid-date
    {
        font-size: 14px;
        margin-right: 34px;
        margin-left: 0px;
    }
    .tren-grid-img
    {
        margin-left: 20px;
    }
    .tren-grid-h3
    {
        padding-left: 20px;
    }
    .tren-grid-hidden
    {
        padding-left: 20px;
        margin-left: 0px;
    }
    .tren-grid-img-3
    {
        margin-left: 14px;
    }
    .tren-header-h1
    {
        font-size: 34px;
    }
    .tren-header-data
    {
        font-size: 24px;
    }
    .email-header
    {
        font-size: 26px;
        text-align: center;
        width: 201px;
        margin-left: 90px;
        line-height: 32px;
        margin-top: -8px;
    }
    .email-header-circle
    {
        width: 31px;
        height: 31px;
        right: 183px;
        top: 39px;
    }
    form
    {
        display: block;
    }
    .email-btn
    {
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: 20px;
        width: 340px;
    }
    input
    {
        width: 170px;
    }
    .content-iamge
    {
        width: 340px;
        height: 207px;
    }
    .content-img
    {
        margin-right: 0px;
    }
}
@media (max-width: 737px)
{
    .main-box
    {
        margin-top: 0px;
        top: 305px;
        gap: 13px;
        right: 192px;
    }
    .main-box-img
    {
        top: 18px;
        right: 7px;
        width: 342px;
    }
    .main-box-left
    {
        height: 300px;
    }
    .main-box-right
    {
        height: 300px;
    }
    .main-arrow
    {
       display: none;
    }
    .events
    {
        padding-top: 210px;
    }
    .main-text h2 
    {
        padding-bottom: 0px;
    }
    .main-text-tren 
    {
        margin-top: 10px;
    }
    .events-h1
    {
        padding-top: 185px;
    }
}
@media (max-width: 620px)
{
    .tren-grid
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        margin-top: 20px;
    }
    .tren-grid-item:nth-child(1)
    {
        grid-row: 1;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(2)
    {
        grid-row: 3;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(3)
    {
        grid-row: 5;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(4)
    {
        grid-row: 2;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(5)
    {
        grid-row: 4;
        grid-column: 1;
    }
    .tren-grid-item:nth-child(6)
    {
        grid-row: 6;
        grid-column: 1;
    }
    .tren-grid-name
    {
        display: flex;
    }
    .tren-grid-img
    {
        margin-bottom: 0px;
    }
    .tren-grid-name-1
    {
        margin-top: 40px;
    }
    .tren-grid-item:hover .tren-grid-name-1
    {
        margin-top: -10px;
    }
    .tren-grid-item:hover .tren-grid-img-1
    {
        margin-bottom: 10px;
    }
    .tren-grid-item:hover .tren-grid-img-2
    {   
        margin-top: 10px;
    }
    .tren-grid-item:hover .tren-grid-img-3
    {   
        margin-bottom: 10px;
    }
    .tren-grid-name-4
    {
        margin-top: 35px;
    }
    .tren-grid-img-4
    {
        height: 69px;
        margin-bottom: 0px;
    }
    .tren-grid-item:hover .tren-grid-img-4
    {   
        margin-bottom: 10px;
    }
    .tren-grid-item:hover .tren-grid-img-5
    {   
        margin-bottom: 10px;
    }
    .tren-grid-item:hover .tren-grid-name-6
    {   
        margin-top: 0px;
    }
    .tren-grid-item:hover .tren-grid-img-6
    {   
        margin-bottom: 10px;
    }
    .tren-header-h1
    {
        font-size: 26px;
        width: 180px;
    }
    .tren-header-data
    {
        font-size: 16px;
    }
    .tren-grid-hidden
    {
        margin-left: 80px;
    }
    .tren-grid-hidden-2
    {
        margin-left: 53px;
    }
    .tren-grid-hidden-3
    {
        margin-left: 93px;
    }
    .tren-grid-hidden-4
    {
        margin-left: 64px;
    }
    .tren-grid-hidden-5
    {
        margin-left: 73px;
    }
    .tren-grid-hidden-6
    {
        margin-left: 68px;
    }
    .tren-grid-hidden:hover
    {
        max-height: 200px;
    }
    .tren-grid-h3
    {
        height: 25px;
        margin-top: 25px;
    }
    .tren-grid-h3-4
    {
        margin-top: 37px;
    }
    .tren-grid-h3-3
    {
        margin-top: 12px;
    }
    .tren-grid-h3-2
    {
        margin-top: 37px;
    }
    .tren-grid-item:hover .tren-grid-name-4
    {   
        margin-top: 0px;
    }
    .tren-grid-item:hover .tren-grid-h3
    {
        margin-top: 25px;
    }
    .tren-grid-item:hover .tren-grid-h3-4
    {
        margin-top: 37px;
    }
    .tren-grid-item:hover .tren-grid-h3-2
    {
        margin-top: 37px;
    }
    .tren-grid-item:hover .tren-grid-h3-3
    {
        margin-top: 12px;
    }
    .tren-grid-item:hover .tren-grid-img-3
    {   
        margin-bottom: 0px;
    }
    .tren-grid-item:hover .tren-grid-name-3
    {   
        margin-top: 0px;
    }
    
}
@media (max-width: 570px)
{
    .events-h2
    {
        width: 134px;
    }
    .events-f3
    {
        background-position: right;
    }
    .events-h1
    {
        font-size: 34px;
    }
}
@media (max-width: 561px)
{
    .main-box
    {
        right: 110px;
    }
    .events-hidden-btn
    {
        font-size: 10px;
        padding: 15px 30px;
    }
    .main-btn
    {
        padding: 23px 0px;
        width: 100%;
        display: block;
    }
}
@media (max-width: 486px)
{
    .main-box
    {
        right: 60px;
    }
    .events-h1
    {
       font-size: 26px;
       width: 301px;
    }
    .events-f1
    {
        height: 309px;
        background-image: url(../img/jpg/1\(3\).jpg);
    }
    .events-f2
    {
        height: 309px;
        background-image: url(../img/jpg/2\(3\).jpg);
    }
    .events-f3
    {
        height: 309px;
        background-image: url(../img/jpg/3\(3\).jpg);
    }
    .events-type
    {
        padding: 7px 14px;
    }

}
@media (max-width: 432px)
{
    .main-box
    {
        right: 15px;
    }
    .events-data
    {
        margin-left: 10px;
    }
    .events-h2
    {
        margin-left: 10px;
    }
    
    .events-hidden-btn
    {
       margin-left: 10px;
    }
}
@media (max-width: 391px)
{
    .main-text h2 
    {
        width: 358px;
        font-size: 23px;
    }
    .main-box-img
    {
        width: 300px;
    }
    .main-box
    {
        right: 7px;    
    }
    .main-box-left
    {
        height: 268px;
    }
    .main-box-right
    {
        height: 268px;
    }
    .events-hidden-btn
    {
        font-size: 10px;
        padding: 10px 15px;
    }
    .tren-grid
    {
        grid-template-rows: 150px 150px 150px 150px 150px 150px ;
    }
    .tren-grid-h3
    {
        font-size: 14px;
        padding-left: 10px;
    }
    .tren-grid-img-1
    {
        height: 50px;
        width: 50px;
    }
    .tren-grid-img-5
    {
        height: 40px;
        width: 50px;
    }
    .tren-grid-img-2
    {
        height: 60px;
    }
    .tren-grid-img-3
    {
        height: 40px;
        width: 60px;
    }
    .tren-grid-name-3
    {
      margin-top: 44px;
    }
    .tren-grid-hidden
    {
        margin-left: 60px;
        font-size: 12px;
        width: 200px;
    }
    .tren-grid-hidden-2
    {
        margin-left: 44px;
    }
    .tren-grid-hidden-4
    {
        margin-left: 56px;
    }
    .tren-grid-h3
    {
        height: 25px;
        margin-top: 25px;
    }
    .tren-grid-h3-4
    {
        margin-top: 37px;
    }
    .tren-grid-h3-3
    {
        margin-top: 12px;
    }
    .tren-grid-h3-2
    {
        margin-top: 37px;
    }
    .tren-grid-h3-5
    {
        margin-top: 17px;
    }
    .tren-grid-name-4
    {
        margin-top: 20px;
    }
    .tren-grid-item:hover .tren-grid-name-4
    {   
        margin-top: -40px;
    }
    .tren-grid-item:hover .tren-grid-img-4
    {   
        margin-bottom: 0px;
    }
    .tren-grid-item:hover .tren-grid-h3
    {
        margin-top: 25px;
    }
    .tren-grid-item:hover .tren-grid-h3-4
    {
        margin-top: 37px;
    }
    .tren-grid-item:hover .tren-grid-h3-2
    {
        margin-top: 37px;
    }
    .tren-grid-item:hover .tren-grid-h3-3
    {
        margin-top: 12px;
    }
    .tren-grid-item:hover .tren-grid-img-3
    {   
        margin-bottom: 0px;
    }
    .tren-grid-item:hover .tren-grid-name-3
    {   
        margin-top: 0px;
    }
    .tren-grid-item:hover .tren-grid-h3-6
    {
        margin-top: 25px;
    }
    .tren-grid-item:hover .tren-grid-img-6
    {   
        margin-bottom: 0px;
    }
    .tren-grid-item:hover .tren-grid-name-6
    {   
        margin-top: 0px;
    }
    .email-header
    {
        margin-left: 70px;
    }
    .email-btn
    {
        width: 290px;
    }
    input
    {
        width: 120px;
        margin-right: 20px;
    }
}